- @users.each do |user|
  %div.user-row
    %div.user-avatar-and-info{ class: user.suspended? ? 'suspended' : '' }
      %div.user-avatar-container
        %img.user-avatar{ src: user.avatar&.url || image_path('default-avatar.png') }
      %div.user-details
        %div
          %span= user.display_phone_number
          - if current_admin == user
            %span= t('.you')
        - if (user.name&.size || 0) > 0
          %div= user.name
        - if user.suspended?
          %div
            %i= t('.suspended')
    %div.user-actions
      - suspend_url = user.suspended? ? admin_user_unsuspend_path(user) : admin_user_suspend_path(user)
      = form_with(url: suspend_url, method: 'PUT') do
        - suspend_btn = user.suspended? ? 'unsuspend' : 'suspend'
        - disabled = (user == current_admin) || user.admin?
        %button{ disabled: disabled }= t(".#{suspend_btn}")
      - admin_url = user.admin? ? admin_user_revoke_admin_path(user) : admin_user_grant_admin_path(user)
      = form_with(url: admin_url, method: 'PUT') do
        - admin_btn = user.admin? ? 'revoke_admin' : 'grant_admin'
        - disabled = (user == current_admin) || user.suspended?
        %button{ name: admin_btn, value: 'true', disabled: disabled }= t(".#{admin_btn}")
